{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <h2></h2>
        <br />
        <form method="post">
            <select id="model" name="model">
                {% for model, path in models.items() %}
                <option value="{{path}}">{{model}}</option>
                {% endfor %}
            </select>
            <br />
            <hr />
            <label for="content">Describe your idea</label>
            <br>
            <textarea name="content"
                      placeholder="what's in your mind..."
                      rows="15"
                      cols="60"
                      >{{ request.form['content'] }}</textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
    {% if model %}
    <div class="content">
        <p>model selected: {{ model }}</p>
    </div>
    {% endif %}
    <div class="content row">
        {% if gen_image %}
        <div class="column">
            <img src="{{ url_for('static', filename='images/gen/' + gen_image) }}" alt="Generated Image" width="100%">
        </div>
        {% endif %}
        {% if pred_image %}
        <div class="column">
            <img src="{{ url_for('static', filename='images/pred/' + pred_image) }}" alt="Predicted Image" width="100%">
        </div>
        {% endif %}
    </div>
{% endblock %}