<!DOCTYPE html>
<html>
<title>Project</title>
<h1>Load your Shit</h1>
<form method=POST enctype=multipart/form-data>
	<input type=file name=file>
	<input type=submit value=Upload>
</form>
<br/>
{% if format=="IMAGE" %}
<h1>Image Shit</h1>
<img src="{{dir}}{{filename}}" width="100%"/>
{% endif %}

{% if format=="VIDEO" %}
<h1>Video Shit</h1>
<video width="100%" controls>
	<source src="{{dir}}{{filename}}"/>
</video>
{% endif %}
<h1>Cam Shit</h1>
<img src="{{url_for("stream")}}" width="100%">
</html>


