{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} The Home Page of FlaskApp {% endblock %}</h1></span>
    <div class="content">
        <h2>Webcam Streaming</h2>
        <select id="model" name="model">
            {% for model, path in models.items() %}
            <option value="{{path}}">{{model}}</option>
            {% endfor %}
        </select>
        <img src="{{ url_for('main.webcam_feed', model_id=model_id) }}"  width="100%">
    </div>
{% endblock %}